{{#if addNewComment}}
  <h1>New Comment</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Your Name</label>
          {{input value=name id="name" placeholder="Name"}}
        </div>

        <div class="form-group">
          <label for="detail">Enter Your Comment</label>
          {{input value=detail id="detail" placeholder="Comment"}}
        </div>

        <button {{action 'commentSave1'}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-primary" {{action 'commentFormShow'}}>New Comment</button>
{{/if}}
