
<div id="post">
  <h3>{{#link-to 'post' post.id}}{{post.title}} by {{post.author}}{{/link-to}}</h3>
  <p>{{post.content}}</p>
  <p><img src="{{post.image}}"/></p>
  {{update-post post=post update="update"}}
</div>
